

#header{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

#header > *{
    margin: 1em;
}

#header .logo{
}

#header>nav{
}

.busy *{
    cursor: progress;
}

.error-msg{
    background-color: #ee000088;
}

.hpane{
    display: flex;
    flex-direction: row;
}

.hpane>:not(:last-child){
    border-right: 1px solid black;
    margin-right: 1em;
    padding-right: 1em;
}

.popup{  border: 1px solid black;
    border-radius: 3em;
    z-index: 100;
    display: block;
    position: absolute;
    padding: 1em;
}