

#header{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#header > *{
    margin: 1em;
}

#header .logo{
}

#header>nav{
}

#calendar-list{
    overflow-y: scroll;
}

.calendar{
    background-color: teal;
    width:20em;
    height: auto;
    padding: 2em;
    border-radius: 3%;
}

.calendar>picture{
    resize: both;
}

.calendar>picture>*{
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

.calendar>*{
    align-content: center;
}

.calendar>.name{
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}