:root{
	--node-editor-bg: #2d2d2d;
	--node-editor-title-bg: #0c0c0c;
	--node-editor-title-color: #e2e2e2;
}

#node-editor {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#nodes-toolbar {
    background-color: beige;
    margin-top: 0;
}

#nodes-canvas {
    background-color: aquamarine;
    flex: 1;
	position: relative;
}

.node {
    border-radius: 15px;
    font-size: 10pt;
    border: 1px solid black;
    margin: 5px;
    background-color: var(--node-editor-bg);
    display: inline-block;
    position: absolute;
	top:0px;
	left:0px;
	&.floating{
		box-shadow: 10px 10px 5px grey;
	}


}

.node-title{
    border-radius: 15px 15px 0 0;
    font-size: 12pt;
	width:100%;
	background-color: var(--node-editor-title-bg);
	color: var(--node-editor-title-color);
	overflow:hidden;
}

.node-title>*{
	margin:0.5em;
}

.node-content{
	min-height:2em;
}

.node.menu_item{
    cursor: grab;
}

