{% extends "user.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='user.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
{% endblock %}
{% block content %}
<div class="hpane">
    <section>
        <div id="sources-list">

        </div>
        <form action="{{create_calendar_path}}" method="post" name="add-source">
            <label>add source</label>
            <label for="name">name</label>
            <input type="text" name="nam">
            <label for="path">path</label>
            <input type="text" name="path">
            <button>add</button>
        </form>
    </section>
    <section>
        <div id="pipes-list">

        </div>
        <form action="{{create_pipe_path}}" method="post" name="add-pipe" id="add-pipe-form">
            <h4>add pipe</h4>

            <label for="name">name</label>
            <input type="text" name="nam">

            <input type="hidden" name="source_id">


            <button>add</button>
        </form>
    </section>
    <section>
        <div id="sink-list">

        </div>
    </section>
</div>
{% endblock %}