{% extends "user.html" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='user.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
{% endblock %}
{% block content %}
<div class="hpane">
    <section>
        <div id="sources-list">

        </div>
        <form action="{{create_calendar_path}}" method="post" name="add-source">
            <label>add source</label>
            <label for="name">name</label>
            <input type="text" name="nam">
            <label for="path">path</label>
            <input type="text" name="path">
            <button>add</button>
        </form>
    </section>
    <section>
        <div id="pipes-list">

        </div>
        <form action="{{create_pipe_path}}" method="post" name="add-pipe">
            <label>add pipe</label>

            <label for="name">name</label>
            <input type="text" name="nam">

            <label for="source_id">source id</label>
            <input type="number" name="source_id">

            <label for="sink_id">sink id</label>
            <input type="number" name="sink_id">

            <button>add</button>
        </form>
    </section>
</div>
{% endblock %}